body {
    background-image: url(../images/img.jpg)
}

.box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    opacity: 0.8;
    margin-top: 10px;
}

.head img {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}